<workshop-entity>
    <div *ngIf="appMode === 'browser'"  style="display: flex; align-items: center; background-color: #5041BC; color: white; border-radius: 7px;">
        <button (click)="openDialog(menuLink)" id="browser-btn" mat-flat-button>
            {{ menuData }}
        </button>
        <div style="background-color: #6c5fcc;">
            <button [matMenuTriggerFor]="menu" mat-icon-button
                style=" margin-left: 5px;">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of menuItems" (click)="selectMenuItem(item)">
                {{ item.title }}
            </button>
        </mat-menu>
    </div>
</workshop-entity>
<div *ngIf="appMode === 'mobile'"  style="display: flex;  align-items: center; background-color: #5041BC; color: white; border-radius: 7px;">
    <button (click)="openDialog(menuLink)" id="mobile-btn" mat-flat-button>
        {{ menuData }}
    </button>
    <div style="background-color: #6c5fcc;">
        <button [matMenuTriggerFor]="menu" mat-icon-button 
            style=" margin-left: 5px;">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let item of menuItems" (click)="selectMenuItem(item)">
            {{ item.title }}
        </button>
    </mat-menu>
</div>